<html>
<head><title> Login </title></head>
<body>
	<form method="GET" action="/login">
		<div>
      	 		<label for="ID"> ID: </label>
       	 		<input type="password" name="ID">
	 	</div>
		<p> {{message}} </p>
        		<div class='button'>
            			<button type="submit"> Login</button>
        		</div>
    	</form>	
	<button type="button" onClick="location.href='_register'"> Register</button>
	<button type="button" onClick="location.href='_main'"> Back to main page </button>
</body>
</html>